<div class='nav_bar'>
  <img class='nav_bar_icon' src='/assets/nav.svg'>

  <div class='drop_down'>
    <a href='/'>Home</a>
    <a href='/users/login'>Login</a>
    <a href='/users/register'>Register</a>
  </div>
</div>
