<div class='nav_bar'>
  <img class='nav_bar_icon' src='/assets/nav.svg'>

  <div class='drop_down'>
    <a href='/'>Home</a>
    <a href='/users/asfasdfa'>My Profile</a>
    <a href='/users/logout'>Logout</a>
  </div>
</div>

