{{>userNav}}

{{>header}}

<div class='new_photo_container'>
  <div class='form_container'>
    <form action='/users/{{id}}' method='POST'>
      <div class='form_input_container'>
        <p>Title: </p>
        <input id='title_input_field' type='text' name='title' autofocus>
      </div>
      <div class='form_input_container'>
        <p>Author: </p>
        <input id='author_input_field' type='text' name='author' required>
      </div>
      <div class='form_input_container'> 
        <p>Link: </p>
        <input id='link_input_field' type='text' name='link' required>
      </div>
      <div class='form_input_container'>
        <p>Description: </p>
        <textarea id='description_input_field' name='description' required></textarea>
      </div>
      <div class='submit_container'>
        <input type='submit' value='Submit'>
      </div>
    </form>
  </div>
</div>
