<div class='registration_container'>
  <h1>Sign Up</h1>

  <form action='/users/register' method='post'>
    <input type='text' name='email' required autofocus placeholder='Email'><br>
    <input type='text' name='username' required placeholder='Username'><br>
    <input type='password' name='password' required placeholder='Password'><br>
    <input type='password' name='password_confirmation' required placeholder='Re-enter password'><br>
    <div class='submit_container'>
      <input type='submit' value='Submit'>
    </div>
  </form>

</div>